/* 色の設定 */
.gold { color: gold; }
.silver { color: silver; }
.bronze { color: #cd7f32; }

/* 画像を横並びにする設定 */
.image-row {
    display: flex;
    gap: 10px;
}

img {
    width: 300px;
}

/* アンカーリンクのスタイル */
nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #007BFF;
}

nav a:hover {
    text-decoration: underline;
}
