@charset "utf-8";
.maru {
    height:130px;
    width:130px;
    border-radius:50%;
    line-height:130px;
    text-align:center;
    background:goldenrod;
    font-size:75px;
    margin-left: 15px;
  }

  .maru2 {
    height:130px;
    width:130px;
    border-radius:50%;
    line-height:130px;
    text-align:center;
    background:silver;
    font-size:75px;
    margin-left:15px;
  }
  .maru3 {
    height:130px;
    width:130px;
    border-radius:50%;
    line-height:130px;
    text-align:center;
    background:#CC6600;
    font-size:75px;
    margin-left:15px;
  }
  .top1 img {
    border-radius:50%;
    width: 750px;
    height: 450px;
    }
    h2 {
        position: relative;
        padding-left: 5em;
      }
      
      h3 span {
        position: absolute;
        top: 0;
        left: 0;
        padding:  2.5rem;
        color: #fff;
        border-radius: 10px;
        background: #be1879;
      }
      
      h3 span i {
        margin-right: 3rem;
      }
      
      h3 span:after {
        position: absolute;
        top: calc(50% - 8px);
        right: -11px;
        width: 0;
        height: 0;
        content: '';
        border-width: 10px 0 12px 12px;
        border-style: solid;
        border-color: transparent transparent transparent #ad0c65;
      }
      h2{
        position: relative;
        padding: 1rem .5rem;
      }
      
      h2:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        content: '';
        background-image: -webkit-gradient(linear, left top, right top, from(#ffd000), to(#d4b500));

      }
      h3{
        position: relative;
        padding: 1rem .5rem;
      }
      
      h3:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        content: '';
        background-image: -webkit-gradient(linear, left top, right top, from(#c2c2c2), to(#c2c2c2));

      }

      h4{
        position: relative;
        padding: 1rem .5rem;
      }
      
      h4:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        content: '';
        background-image: -webkit-gradient(linear, left top, right top, from(#e69346), to(#e69346));

      }
      h5{
        position: relative;
        padding: 1rem .5rem;
      }
      
      h5:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        content: '';
        background-image: -webkit-gradient(linear, left top, right top, from(#1aec25), to(#1aec25));

      }
      h6{
        position: relative;
        padding: 1rem .5rem;
      }
      h6:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        content: '';
        background-image: -webkit-gradient(linear, left top, right top, from(#ffaae3), to(#ffaae3));
      }

      h1.heading {
        font-size: 3.5em; /* 大きな文字サイズ */
          font-weight: bold; /* 太字 */
        }
        h2.heading {
          font-size: 3.5em; /* 大きな文字サイズ */
            font-weight: bold; /* 太字 */
          }
          h3.heading {
            font-size: 3.5em; /* 大きな文字サイズ */
              font-weight: bold; /* 太字 */
            }
            h4.heading {
              font-size: 3.5em; /* 大きな文字サイズ */
                font-weight: bold; /* 太字 */
              }
              h5.heading {
                font-size: 1.7em; /* 大きな文字サイズ */
                  font-weight: bold; /* 太字 */
                }
                h7.heading {
                  font-size: 3.5em; /* 大きな文字サイズ */
                    font-weight: bold; /* 太字 */
                  }
                  h6.heading {
                    font-size: 1.7em; /* 大きな文字サイズ */
                      font-weight: bold; /* 太字 */
                    }
                    h8.heading {
                      font-size: 1.3em; /* 大きな文字サイズ */
                        font-weight: bold; /* 太字 */
                      }
                      h9.heading {
                        font-size: 1.3em; /* 大きな文字サイズ */
                          font-weight: bold; /* 太字 */
                        }
              .t1 img {
                width: 750px;
                height: 450px;
                }
                .t2 img {
                  border-radius:50%;
                  width: 750px;
                  height: 450px;
                  }
                  .t-image {
                    display: flex;
                    justify-content: space-between; /* 画像の間にスペースを均等に配置 */
                  }
                  
                  .t-image img {
                    max-width: 48%; /* 画像がコンテナを超えないようにサイズを調整 */
                    height: auto; /* 画像の比率を保つ */
                    flex: 1; /* 各画像の幅を等しくする */
                    margin: 0 10px; /* 画像間に余白を追加する場合 */
                  }
                  
                    
                  p.b-image {
                    display: flex;
                    text-align: center;
                    justify-content: space-between;

                  }
                  .b-image img {
                    max-width: 30%; /* 画像がコンテナを超えないようにサイズを調整 */
                    height: auto; /* 画像の比率を保つ */
                    flex: 10; /* 各画像の幅を等しくする */
                    margin: 0 10px; /* 画像間に余白を追加する場合 */
                  }
                  .s-image {
                    display: flex;
                    justify-content: space-between; /* 画像の間にスペースを均等に配置 */
                  }
                  
                  .s-image img {
                    max-width: 48%; /* 画像がコンテナを超えないようにサイズを調整 */
                    height: auto; /* 画像の比率を保つ */
                    flex: 1; /* 各画像の幅を等しくする */
                    margin: 0 10px; /* 画像間に余白を追加する場合 */
                  }
                  

                 
                 #cards {
                  display: flex;
                  justify-content: center;
                }
                
                .card {
                  width: 300px;
                  height: 300px;
                  border: 1px solid lightgray;
                }
                
                .card:nth-child(2) {
                  margin-right: 10px;
                  margin-left: 10px;
                  margin-bottom: 5px;
              
                }
                
                .picture img {
                  width: 100%;
                  height: 200px;
                }
                
                .description {
                  width: 100%;
                  height: 145px;
                  padding-right: 12px;
                  padding-left: 12px;
                  box-sizing: border-box;
                }
                
                .description p {
                  font-size: 15px;
                  color: rgb(10, 0, 100);
                }

                