@charset "utf-8";

/* 全体のスタイル */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  padding: 1rem;
  background-color: #e92db0;
  color: white;
}

p {
  padding: 0 20px;
  text-align: left;
}

/* marushashinの画像を中央揃えに */
.marushashin {
  text-align: center;
}

.marushashin img {
  width: auto;
  height: 600px;
  display: block;
  margin: 0 auto;
  border-radius: 35px;
}

.maru, .maru2, .maru3 {
  display: inline-block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  line-height: 130px;
  text-align: center;
  font-size: 75px;
  margin: 20px auto;
}

.maru {
  background-color: goldenrod;
}

.maru2 {
  background-color: silver;
}

.maru3 {
  background-color: #CC6600;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 10px;
}

.card img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #89c7de;
  color: white;
  text-align: center;
  padding: 20px;
}

/* スマートフォン対応 */
@media (max-width: 768px) {
  .marushashin img,
  .t-image img,
  .b-image img {
    width: 100%;
    height: auto;
  }

  .maru, .maru2, .maru3 {
    width: 100px;
    height: 100px;
    font-size: 50px;
  }

  #cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
}
